

.mydiv{
  width: 100px;
  height: 100px;
  background-color: red;
  border-radius: 50%;
  margin: 200px auto;
  transition-property: transform;
  animation-duration: 5s;
  transition: 2s;
  /* display: grid;
  justify-content: center;
  align-items: center; */
  /* text-align: center;
  line-height: 100px; */
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.mydiv:hover{
   /* transform: translate(200px, 200px) ; */
   /* transform: scale(.5) ; */
   /* transform: rotate(360deg) ; */
   /* transform: skew(360deg) ; */
}