p{
  /* background: rgb(0, 0, 255); */
  background-image: url('./sachin.PNG');
  background-repeat: no-repeat;
  background-position: left top;
  background-size:  50% 50%;
  background-attachment: fixed;
  height: 500px;
  border: 2px solid black;
}