
.container{
  width: 400px;
  /* height: 300px; */
  border: 2px solid black;
  margin: 80px auto;
}

.one{
  width: 100px;
  height: 100px;
  background-color: red;
  float: right;
}
.two{
  width: 100px;
  height: 100px;
  background-color: rgb(0, 255, 64);
  float: left;
}
.three{
  width: 100px;
  height: 100px;
  background-color: rgb(30, 0, 255);
  float: left;
}

.clear-fix::after{
  content: "";
  display: block;
  clear: both;
}
